<section id="posts-index-page">
  <div class="post-user">
    <%= render 'shared/user', obj: @user %>

  </div>

  <ul class="posts-list">
    <% @posts.each do |post| %>
      <li>
        <%= link_to user_post_path(post.author, post), class: "post-link" do %>
          <div class="post-details">
            <h2>
              <%= post.title %>
            </h2>
            <p>
              <%= post.text %>
            </p>
            <div class="post-counters">
              <span>Comments: <%= post.comments_counter %></span>
              <span>Likes: <%= post.likes_counter %></span>
            </div>
          </div>
        <% end %>
        <div class="show-post-create-comment">
          <%= render 'comments/create_comment_btn', obj: post %>
          <%= render 'likes/likes_form', obj: post, model: @like %>
        </div>

        <% if post.comments_counter != 0 %>
          <div class="comments-container">
            <ul class="comments-list">
              <% post.five_recent_comments.each do |comment| %>
                <li>
                  <div class="comment-image-container">
                    <%= image_tag comment.author.photo, alt:comment.author.name, class:"comment-image"  %>
                  </div>
                  <div class="comment-text-details">
                    <h3>
                      <%= comment.author.name %>
                    </h3>
                    <p>
                      <%= comment.text %>
                    </p>
                  </div>
                </li>
              <% end %>
              <li>
                <%= render 'create_comments_form', obj: post %>
              </li>
            </ul>
          </div>
        <% else %>
          <div class="comments-container">
            <span>No comments</span>
            <%= render 'create_comments_form', obj: post %>
          </div>
        <% end %>
      </li>
    <% end %>
    <li class="flickr_pagination">
      <%= will_paginate @posts, :container => false %>
    </li>
  </ul>
</section>
