<section id="show-post-section">
  <div class="show-post">
    <div class="show-post-title">
      <h2>
        <%= @post.title %>
      </h2>
      <div class="show-post-counters">
        <span>
          Comments: <%= @post.comments_counter %>
        </span>
        <span>
          Likes: <%= @post.likes_counter %>
        </span>
      </div>
    </div>

    <div>
      <p>
        <%= @post.text %>
      </p>
    </div>
  </div>

  <div class="show-post-comments">
    <ul>
      <% @post.comments.each do |comment| %>
        <li>
          <h3>
            <%= comment.author.name %>:
          </h3>
          <span>
          <%= comment.text %>
        </span>
        </li>
      <% end %>
    </ul>
  </div>
</section>