<section id="show-post-section">
  <div class="show-post">
    <div class="show-post-title">
      <h2>
        <%= @post.title %>
      </h2>
      <div class="show-post-counters">
        <span>
          Comments: <%= @post.comments_counter %>
        </span>
        <span>
          Likes: <%= @post.likes_counter %>
        </span>
      </div>
    </div>

    <div class="show-post-text">
      <p>
        <%= @post.text %>
      </p>
    </div>

    <div class="create-comment-btn-container with-author">
      <h3>by: <%= @post.author.name %></h3>
      <div class="create-like-comment-container">
        <%= render "comments/create_comment_btn", obj: @post %>
        <%= render "likes/likes_form", obj: @post, model: @like %>
      </div>
    </div>
  </div>

  <div class="show-post-comments">
    <% if @post.comments_counter != 0 %>
      <ul>
        <% @post.comments.each do | comment | %>
          <li>
            <div class="comment-image-container">
              <%= image_tag comment.author.photo, alt: comment.author.name, class: "comment-image" %>
            </div>
            <div class="comment-text-details">
              <h3>
                <%= comment.author.name %>
              </h3>
              <p>
                <%= comment.text %>
              </p>
            </div>
          </li>
        <% end %>
        <li class="create-btn-container">
          <%= render 'create_comments_form', obj: @post %>
        </li>
      </ul>
    <% else %>
      <p>No Comments</p>
      <%= render 'create_comments_form', obj: @post %>
    <% end %>
  </div>
</section>